.container
  %h3 Шифры полевых, плодовых, ягодных сельскохозяйственных культур, сеяных и луговых трав, сельскохозяйственных угодий с разными системами обработки, пород деревьев
  %table{class: "table table-hover"}
    %thead
      %tr
        %th Категория
        %th Код
        %th Название
    %tbody
      = render @agro_crops
  %br
  = link_to "Создать", new_agro_crop_path