<div class="container">
  <h1>Поиск объектов</h1>
    <div id="content">
    <%= react_component 'SearchObjects', { registers: @registers } %>
    </div>
  <%= link_to 'Реестр', registers_path %>
</div>
