<!--%= @concentrations[:avg_total].inspect %-->
<!--%= @sites.inspect %-->
<!--%= @sites.last.inspect %-->
<div class="container">
  <h1>Промежуточный результат расчета фоновых концентраций</h1>
  <div id="content">
    <%= react_component 'ChemBackgroundConcentrations', { startDate: @start_date, endDate: @end_date, sites: @sites, site_description: @site_description, substances: @substances, substance: @substance, concentrations: @concentrations} %>
  </div>
</div>