.container
  %h3 Телеграммы синоптические (со штормовыми)
  %table{class: "table table-hover"}
    %thead
      %tr
        %th Дата
        %th Срок
        %th Метеостанция
        %th Телеграмма
    %tbody
      - @telegrams.each do |t|
      - term = t.fterm == 'Ш' ? t.fterm : t.fterm.to_s.rjust(2, '0')
        %tr
          %td= t.date_rep
          %td= term
          %td= t.station.name
          %td= t.telegram