<!--%= @weather_data.inspect %-->
<!--%= @measure_num.inspect %-->
<div class="container">
  <h1>Ввод данных о загрязнении атмосферы</h1>
  <div id="content">
    <%= react_component 'InputPollutionsForm', { date: @date, term: @term.to_i+1, materials: @materials, posts: @posts, postId: @post_id, weather: @weather} %>
  </div>
</div>