<!--%= @duble.inspect %-->
<!--%= @matrix.inspect %-->
<div class="container">
  <div id="content">
    <%= react_component 'WindRose', { matrix: @matrix, year: @year, cities: @cities, cityName: @city_name, maxJul: @max_jul, cityId: @city_id} %>
  </div>
</div>