<div class="container">
  <div id="content">
    <%= react_component 'Tcx1Show', { avgTemps: @avg_temps, monthName: month_name(@month), year: @year, numDays: @num_days, month: @month, maxTemps: @max_temps} %>
  </div>
</div>