<div class="container">
  <h3>К договору №08/16-17/03   ГП "Донбасстеплоэнерго"   тел. 304-74-24</h3>
  <div id="content">
    <%= react_component 'TemperaturesShow', { temperatures: @a, calcDate: @calc_date} %>
  </div>
</div>
