<div class="container">
  <h1>'К договору №08/16-17/03   ГП "Донбасстеплоэнерго"   тел. 304-74-24'</h1>
  <div id="content">
    <%= react_component 'TemperaturesShow', { temperatures: @a} %>
  </div>
</div>
