<div class ="container">
  <div>
    <%= react_component 'InputTelegrams', { telegrams: @telegrams, currDate: Time.now.strftime("%Y-%m-%d"), tlgType: 'storm', stations: @stations, inputMode: 'normal'} %>
  </div>
</div>