.container
  %h3 Категории сельскохозяйственных культур и угодий
  %table{class: "table table-hover"}
    %thead
      %tr
        %th Название
    %tbody
      = render @agro_crop_categories
  %br
  = link_to "Создать", new_agro_crop_category_path