%footer{class:"footer"}>
  %small
    The <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
  %nav
    %ul
      = link_to 'Реестр', registers_url
      = link_to 'Search',  registers_search_path
      %a{ href: "http://news.railstutorial.org/"}News